.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  font-weight: 800;
  font-size: 1.75rem;
  color: #000;
}

.actions,
.userActions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.userActions span {
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
}

.userActions span:hover {
  color: #555;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btnPrimary {
  background-color: #ffc700;
  color: #000;
}

.btnSecondary {
  background-color: #272727;
  color: #fff;
}
